@charset "UTF-8";

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	}

/* 大枠 */
html,
body {
	height: 100%;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: none;
	-webkit-overflow-scrolling: touch !important;
	}
body {
	font-size: 16px;
	line-height: 1.6;
	}
#wrapper {
	width: 100%;
	margin: 0 auto;
	position: relative;
	}
body > #wrapper {
	height: auto;
	}
.clearfix:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
    }

@media print {
	html,
	html body{overflow: visible !important;}
	}

/* アクセシビリティ */
.guidance {
	left:-999px;
	position:absolute;
	width:990px;
	}
img {max-width: 100%;height: auto;vertical-align: bottom;} /* レスポンシブ対応 */
img {
	vertical-align: bottom;
	box-shadow: #000 0 0 0; /* ロールオーバー対応 */
	}
img, x:-moz-any-link, x:default {
    box-shadow: #000 0 0 0; /* IE7対応 */
	}

/* リンク */
a:link    {color:#0066FF; text-decoration: none;}
a:visited {color:#0066FF; text-decoration: none;}
a:hover   {color:#0066FF; text-decoration: underline;}
a:active  {color:#0066FF; text-decoration: underline;}

.mincho{
	/* font-family: "FOT-筑紫明朝 Pr6 L","TsukuMinPr6-L","ヒラギノ明朝 Pro W3","Hiragino Mincho Pro","TakaoEx明朝",TakaoExMincho,"MotoyaLCedar","Droid Sans Japanese","HGS明朝E","ipamin","ＭＳ Ｐ明朝",serif; */
	font-family: Georgia,游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN",HGS明朝E,メイリオ,Meiryo,serif;
	position: relative;
	font-weight: normal;
	}

/* CLEARFIX */
.container:after,
.row:after,
.col:after {content: "";display: table;clear: both;}

.container {width: 100%;max-width: 1000px;margin: 0 auto;position: relative;}

/* ブロック関係 */
.row {padding-bottom: 0em;}
.col {display: block;float: left;width: 100%;margin: 0 1%;line-height: 1.5;}
.col:first-child {margin-left: 0;}
.col:last-child {margin-right: 0;}

/* グリッドの設定 */
.span_1 {width: 6.25%;}
.span_2 {width: 15%;}
.span_3 {width: 23.5%;}
.span_4 {width: 32%;}
.span_5 {width: 40.5%;}
.span_6 {width: 49%;}
.span_7 {width: 57.5%;}
.span_8 {width: 66%;}
.span_9 {width: 74.5%;}
.span_10 {width: 83%;}
.span_11 {width: 91.5%;}
.span_12 {width: 100%;}

.pc {display: block;}
.sp {display: none;}

/* タイトル */
#site_title {
	overflow: hidden;
	}
h1.title {
	background: #999;
	padding: 20px 10px;
	margin-bottom: 30px;
	color: #fff;
	overflow: hidden;
	}


/* ▼▼▼ ヘッダー
=====================================*/
header {
	width: 100%;
	background: #ccc;
	padding: 20px 0;
	overflow: hidden;
	}

.menu {display: none;}

/* グローバルナビゲーション */
#gnav {
	overflow: hidden;
	}
	#gnav ul {
		}
	#gnav ul > li {
		float: left;
		}
	#gnav ul > li a {
		display: block;
		}
	#gnav ul > li a:hover {
	    -ms-filter: "alpha(opacity=60)";
	    -moz-opacity:0.6;
	    -khtml-opacity: 0.6;
	    opacity: 0.6;
		}


/* ▼▼▼ メイン 「コンテンツとサイドを囲む要素」
=====================================*/
#main {
	max-width: 1000px;
	padding: 20px 0;
	margin: 0 auto;
	clear: both;
	overflow: hidden;
	}

/* パンくず */
#path {
	margin-bottom: 10px;
	font-size: 14px;
	overflow: hidden;
	}
	#path li {
		float: left;
		margin-right: 10px;
		}
	#path li:after {
		content: ">";
		margin-left: 10px;
		color: #333;
		}
	#path li:last-child:after {content: "";}

/* Googlemap */
.map_container {
	width: 100%;
	position: relative;
	padding-top: 30%;
	}
.google {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	}


/* ▼▼▼ フッター
=====================================*/
footer {
	width: 100%;
	background: #333;
	padding: 20px 0;
	clear: both;
	overflow: hidden;
	}
#footer_inner {
	max-width: 1000px;
	margin: 0 auto;
	overflow: hidden;
	}


/* ▼ ページ上部へ戻る */
.pagetop {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 2000;
	cursor: pointer;
	}

/* ▼ コピーライト */
#copyright {
	font-size: 12px;
	color: #fff;
	}



/* ▼▼▼ 480px〜768px
=====================================*/
@media screen and (max-width: 768px) {

#wrapper {width: 100%;}
#screen {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color:rgba(0,0,0,0.8);
	z-index: 200;
	}
.span_1,.span_2,.span_3,.span_4,.span_5,.span_6,.span_7,.span_8,.span_9,.span_10,.span_11,.span_12{width: 100%;}
.col {margin: 0;}

.pc {display: none;}
.sp {display: block;}

/* タイトル */
#site_title {
	overflow: hidden;
	}


/* ▼▼▼ ヘッダー
=====================================*/
body.wrap {overflow: hidden;}

header {
	width: 100%;
	padding: 0;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999;
	overflow: visible;
	}

.header_inner {
	width: 100%;
	height: 51px;
	background: #fff;
	border-bottom: 1px solid #ccc;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999;
	}

/* グローバルナビゲーション */
#gnav {
	display: block!important;
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	float: none;
	width: 100%;
	max-height: 100vh;
	padding-top: 51px;
	margin: 0;
	position: absolute;
	top: -1000px;
	left: 0;
	z-index: 1000;
	overflow: auto;
	}
#gnav.open {
	-moz-transform: translateY(1000px);
	-webkit-transform: translateY(1000px);
	transform: translateY(1000px);
	}
#gnav ul {clear: both;}
	#gnav ul > li {
		float: none;
		width: 100%!important;
		max-width: 100%!important;
		height: auto;
		text-indent: 0;
		}
	#gnav ul > li > a {
		height: 50px!important;
		background: #fff;
		background-size: 10px 10px!important;
		border-bottom: 1px solid #ccc;
		padding: 0 15px;
		color: #333;
		line-height: 50px;
		font-weight: bold;
		}
	#gnav ul > li > a:hover {
		text-decoration: none;
		opacity: 1;
		}

/* メニューボタン */
.menu {
	display: block;
	width: 50px;
	height: 50px;
	background: #000;
	border-left: 1px solid #ccc;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2000;
	text-indent: -9999px;
	}
.menu span {
    display:block;
    position:absolute;
    top:14px;
    right:10px;
    width:30px;
    height:22px;
    background:#fff;
    border-top:10px solid #000;
    border-bottom:10px solid #000;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    -moz-transition:all 0.3s;
    -webkit-transition:all 0.3s;
    transition:all 0.3s;
	}
.menu span:before {
    content:'';
    position:absolute;
    width:30px;
    height:2px;
    background:#fff;
    top:-9px;
    right:0;
    -moz-transition:all 0.3s;
    -webkit-transition:all 0.3s;
    transition:all 0.3s;
	}
.menu span:after {
    content:'';
    position:absolute;
    width:30px;
    height:2px;
    background:#fff;
    bottom:-9px;
    right:0;
    -moz-transition:all 0.3s;
    -webkit-transition:all 0.3s;
    transition:all 0.3s;
	}
.menu span.active {
    background:#000;
	}
.menu span.active:before {
    -moz-transform:rotate(-135deg);
    -webkit-transform:rotate(-135deg);
    transform:rotate(-135deg);
    top:0;
    right:0;
	}
.menu span.active:after {
    -moz-transform:rotate(135deg);
    -webkit-transform:rotate(135deg);
    transform:rotate(135deg);
    bottom:0;
    right:0;
	}


/* ▼▼▼ メイン 「コンテンツとサイドを囲む要素」
=====================================*/
#header_inner,
#main,#contents,#side,
footer,#footer_inner {
	float: none;
	width: 100%;
	}

#main {padding: 0 15px 40px;}
.menu_fixed {
	position: fixed;
	width: 100%;
	height: 100%;
}

/* ▼▼▼ フッター
=====================================*/
footer {padding: 20px;}

/* ▼ ページ上部へ戻る */
.pagetop {
	background: #000;
	padding: 10px;
	color: #fff;
	}

}
