@charset "UTF-8";


main{
	max-width: 1000px;
	margin: 40px auto;
}

section{
	padding: 0 0 50px;
}

h2{
	margin-bottom: 10px;
	color: #333;
	font-size: 1.6rem;
}


/* ▼▼▼ 480px〜768px
----------------------------------------　*/
@media screen and (max-width: 768px) {
	main{
		margin: 0;
	}
	section{
		border-bottom: 1px solid #ccc;
		background: #fff;
		padding: 40px 20px;
		overflow: hidden;
	}
}

/* サムネイル付きスライド
======================================================*/
.slider,
.thumbnail{
  display: none;
}
.slider.slick-initialized,
.thumbnail.slick-initialized{
  display: block;
}
#mainVisual {
	width: 100%;
	margin: 0 auto;
	position: relative;
}
	.slider .slick-slide{
		/* max-width: 599px; */
		height: auto!important;
		margin: 0 10px;
	}
	.slick-slider {
		margin-bottom: 10px;
	}

/* サムネイル */
.thumbnail {
	/* max-width: 608px; */
	margin: 0 auto 10px;
}
	.thumbnail .slick-slide{
		margin: 0 5px;
	}
	.thumbnail .slick-list.draggable{
		padding-right: 75%;
	}


/* arrowsカスタム */
.slider .slick-prev,
.slider .slick-next{
	top: 50%;
	height: 25px;
}
	.slick-next:before{
		content: url(../img/next.png)!important;
	}
	.slick-prev:before{
		content: url(../img/prev.png)!important;
	}
	.slick-prev:before, .slick-next:before{
		opacity: 1;
	}

/* ▼▼▼ 480px〜768px
----------------------------------------　*/

}

/* imgLiquid
======================================================*/
section#effect_02 > div{
	display: flex;
}
.photo{
	width: 300px;
	height: 300px;
	margin-right: 20px;
}
.photo01{
	width: 300px;
	height: 300px;
	margin-right: 20px;
}
.photo02{
	float: left;
	margin-right: 20px;
}

/* ▼▼▼ 480px〜768px
----------------------------------------　*/
@media screen and (max-width: 768px) {
	section#effect_02 > div{
		display: block;
	}
	.photo{
		width: 100%;
		height: 80vw;
		margin-right: 20px;
	}

	.photo01{
		width: 80vw;
		height: 80vw;
		margin-right: 20px;
	}
}

/* parallax
======================================================*/
#effect_03{
	background: url(https://placehold.jp/ebe6ea/a3a3a3/150x150.png?text=dummy%0A) repeat center/100px;
	background-attachment: fixed;
	height: 150vh;
	padding: 150px 0;
}

/* ▼▼▼ 480px〜768px
----------------------------------------　*/
@media screen and (max-width: 768px) {
	#effect_03{
		background: none;
	}
	#effect_03:before{
		content: "";
		display: block;
		background: url(https://placehold.jp/ebe6ea/a3a3a3/150x150.png?text=dummy%0A) repeat center/100px;
		position: fixed;
		bottom: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 130vh;
	}
}

/* wow.js
======================================================*/
#effect_04 ul li{
	margin-bottom: 20px;
	font-weight: bold;
}


/* サムネイル付きギャラリー
======================================================*/
#effect_05 img{
	width: 100%;
}
#effect_05 .thumb_box{
	max-width: 400px;
}
#effect_05 .change{
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}
	#effect_05 .change li{
		width: 32%;
		flex-shrink: 0;
		cursor: pointer;
	}

/* ▼▼▼ 480px〜768px
----------------------------------------　*/
@media screen and (max-width: 768px) {
	#effect_05 .thumb_box{
		max-width: 100%;
	}
}

/* wow.js
======================================================*/
#effect_04 ul li{
	margin-bottom: 20px;
	font-weight: bold;
}


/* ライトボックス
======================================================*/
#effect_07{

}
	.block-revealer__element {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #000;
		pointer-events: none;
		opacity: 0;
	}
	.block-revealer__content {
		opacity: 0;
	}
#effect_07 h2 span{
	display: inline-block;
	overflow: hidden;
}


/* ▼▼▼ 480px〜768px
----------------------------------------　*/
@media screen and (max-width: 768px) {

}
